@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap');
 
* {
    font-family: "Crimson Text";
}

/* navbar styling */

nav {
    background-color: #FAF9F6;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}

.title a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: 40px;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #c9e4de;
}

@media (max-width: 600px) {
    .title {
      margin-left: 10px;
    }
    
    nav ul {
      margin-right: 10px;
      margin-left: 0;
    }
  }
  
/* form styling */

body, html {
    height: 90%;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #FAF9F6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
}

.contact-form form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.contact-form form textarea {
    resize: vertical;
}

.contact-form form input[type="submit"] {
    background-color: #F8C8DC;
    font-size: medium;
    font-weight: bold;
    color: black;
    cursor: pointer;
    width: 100%;
}

.contact-form form input[type="submit"]:hover {
    background-color: #E8BCCE;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .title {
        margin-left: 10px;
    }

    nav ul {
        margin-right: 10px;
        margin-left: 0;
    }

    /* Adjust contact form styles for landscape mode */
    .contact-form {
        max-width: 80%; /* Adjust the width as needed */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .contact-form h2 {
        font-size: x-large; /* Adjust font size for smaller screens */
    }

    .contact-form form input[type="submit"] {
        font-size: small; /* Adjust font size for smaller screens */
    }
}
