 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap');
 
* {
    font-family: "Crimson Text";
}


body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

/* navbar styling */

nav {
    background-color: #FAF9F6;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}

.title a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 40px;
    margin-left: auto;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #c9e4de;
}

@media (max-width: 600px) {
    .title {
      margin-left: 10px;
    }
    
    nav ul {
      margin-right: 10px;
      margin-left: 0;
    }
  }

/* homepage styling */

.homepage {
    background-color: #FAF9F6;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.centered-text {
    text-align: center;
    color: black;
}

.centered-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.centered-text p {
    font-size: 30px;
    text-align: justify;
    margin: 40px;
}

@media (max-width: 600px) {
    .title {
        margin-left: 10px;
    }
    
    nav ul {
        margin-right: 10px;
        margin-left: 0;
    }

    .homepage {
        padding: 0; /* Remove padding for portrait orientation */
    }

    @media (orientation: landscape) and (max-width: 600px) {
        .homepage {
            padding: 0 20px; /* Add padding for landscape orientation */
        }
    }
}

