@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap');
 
* {
    font-family: "Crimson Text";
}


body {
    margin: 0;
    padding: 0;
}

/* navbar styling */

nav {
    background-color: #FAF9F6;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    margin-left: 40px;
}

.title a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 40px;
    margin-left: auto;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #c9e4de;
}

@media (max-width: 600px) {
    .title {
      margin-left: 10px;
    }
    
    nav ul {
      margin-right: 10px;
      margin-left: 0;
    }
  }


/* pdf styling */

.pdf-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: #FAF9F6;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .pdf-container {
        padding-bottom: 20px; /* Adjust padding for smaller screens */
    }
}